.content {
    background-color: powderblue;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    
     h1{
         text-align: center;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
}