$var : 100;

.content{
    margin-left: $var/3 * 10px;
}
.footer{
    margin-top: $var * 2px;
    position : relative;
    margin-left: (1px + 2px) *$var;
    height: auto;
    background-color: salmon;
    text-align: center;
    p{
        text-align: center;
    }
}