$mycolor : rgb(95, 223, 255);
$bgcolor : #333;
$number1 : 20px;
$align1 : center;

.navbar{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $mycolor;
    }
    li{
        float: right;
        margin-right: $number1;
    }
    li a{
        display: block;
        color: white;
        text-align: $align1;
        padding: 14px;
    }
    li a:hover{
        background-color: &$mycolor;
    }
}